[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
weewx-orm = "1.0.0"
msgpack-python = "*"
marshmallow-sqlalchemy = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]

pudb = "*"
flask = "*"
