[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
weewx-orm = {git = "https://github.com/beasley-weather/weewx-orm.git"}
msgpack-python = "*"
marshmallow-sqlalchemy = "*"


[dev-packages]

pudb = "*"
flask = "*"
